<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"aria-controls="staticBackdrop" >Menu</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
   aria-labelledby="staticBackdropLabel">
   <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Insituto San rafael</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">
      <ul>
         <li><a routerLink="/alumnos">Alumnos</a></li>
         <li><a routerLink="/cursos">Cursos</a></li>
         <li><a routerLink="/nosotros">Nosotros</a></li>
      </ul>
   </div>
</div>
