button{
   font-size: 30px;
   color: black;
   font-weight: bold;
}

h5{
   font-size: 35px;
}

div{
   div{
      a{
         display: flex;
         margin-top: 20px;
         font-size: 20px;
         color: black;
      }
      a:hover{
         color: rgb(26, 119, 189);
      }
   }
}