<h1>Nosotros</h1>
<h3>Nuestra Misión</h3>
<p>Nuestra misión es proporcionar educación de alta calidad que inspire a nuestros estudiantes a alcanzar su máximo
   potencial académico y personal. Creemos en la excelencia, la diversidad y la inclusión como principios fundamentales
   de nuestra escuela.</p>

<h3>Nuestros Valores</h3>
<ul>
   <li>Excelencia académica</li>
   <li>Diversidad y respeto</li>
   <li>Innovación y creatividad</li>
   <li>Compromiso con la comunidad</li>
</ul>

<h3>Nuestro Equipo Administrativo</h3>
<ul>
   <li>Director: [Domingo Agustin]</li>
   <li>Subdirector: [Soledad Hilda]</li>
   <li>Consejo de Administración: [Sanches Marcos, Alvarez Nerea, Pereira Macarena]</li>
</ul>

<h3>Nuestra Historia</h3>
<p>La Esculea "Instituto San Rafael" es una institución de religión católica ubicada en el barrio de Monte Castro, al oeste de la ciudad de Buenos Aires. En 1931 se inauguro el edificio para alumnas externas y las dependencias para pupilas en los terrenos donados por el Señor Francisco Raffo.

El colegio brinda educación nivel Inicial, (de 3 a 5 años) en planta baja, educación de nivel primario, (de 6 a 13 años)
en el primer piso, segundo y tercero. Y por último, en los demás pisos ofrece educación de nivel Secundario, la cual es
elegible solo turno mañana (7:00 a 12:00) o solo turno tarde (12:30 a 17). En jardin y en primaria se ofrece turno
mañana solo o turno mañana con tarde incluido. En caso de esta última la salida puede ser entre las 14 y las 17, lo que
queda en decisión del encargado del alumno.

En el ámbito deportivo, el colegio ofrece educación física y sus habituales juegos de entrenamiento (como el juego de
estaciones, el quemado o la mancha), además de hacer la práctica de el voley, el fútbol, y otros deportes.

Cada año suelen hacerse varios actos en cada nivel, además de las salidas didácticas, algo que no falta en el San
Rafael.</p>