<h1 class="mat-h1">Iniciar Sesión</h1>

<div class="center-container">
   <form class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
         <label for="email">Correo Electrónico:</label>
         <input matInput type="email" id="email" name="email" [formControl]="email">
      </mat-form-field>

      <mat-form-field class="full-width">
         <label for="password">Contraseña:</label>
         <input matInput type="password" id="password" name="password" [formControl]="password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">Iniciar Sesión</button>
      <a routerLink="/create-account" class="create-account-link">Crear cuenta</a>
   </form>
</div>

