h2{
   font-size: 30px;
   padding: 10px;
   color: rgb(26, 119, 189);
}
h3{
   font-size: 20px;
   padding: 10px;
   text-decoration: underline;
}
ul{
   li{
      padding: 10px;
      button{
         
         display: flex;
         
      }
   }
}