.mat-h1 {
   display: flex;
   justify-content: center;
   font-size: 40px;
   padding: 20px;
   text-decoration: underline;
   color: rgb(26, 119, 189);

}

.create-account-form {
   width: 300px;
   margin: auto;
}

.full-width {
   width: 100%;
   margin-bottom: 15px;
}