<!-- create-account.component.html -->
<h1 class="mat-h1">Crear cuenta</h1>

<form class="create-account-form" (ngSubmit)="createAccount()">
   <mat-form-field class="full-width">
      <label for="nombre">Nombre:</label>
      <input matInput type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
   </mat-form-field>

   <mat-form-field class="full-width">
      <label for="apellido">Apellido:</label>
      <input matInput type="text" id="apellido" name="apellido" [(ngModel)]="apellido" required>
   </mat-form-field>

   <mat-form-field class="full-width">
      <label for="email">Email:</label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="email" required>
      <div *ngIf="!validateForm()"></div>
   </mat-form-field>

   <mat-form-field class="full-width">
      <label for="contrasenia">Contraseña:</label>
      <input matInput type="password" id="contrasenia" name="contrasenia" [(ngModel)]="contrasenia" required>
   </mat-form-field>

   <button mat-raised-button color="primary" type="submit" class="full-width">Crear cuenta</button>
</form>